<launch>
  <arg name="config" default="$(find axis_grasp)/config/default.yaml"/>
  <arg name="calibration" default="$(find axis_grasp)/config/calibration_underwater.json"/>
  <node pkg="axis_grasp" type="axis_grasp_node" name="axis_grasp_node"
        output="screen" required="true">
    <rosparam command="load" file="$(arg config)"/>
    <param name="calibration" value="$(arg calibration)"/>
  </node>
</launch>
